
  <div class="container">

    <div class="jumbotron">
      <h1>Acknowledgements</h1>
      <p class="lead">This project wouldn't exist without the open source community at large and the time and energy of the dedicated designers who make it possible. </p>
      <p class="lead"> Specifically, we want to acknowledge the designers who have created things we've used - both in offering workshops and creating this website.
        </p>

    </div>
    <div class="row">
    
    <div class="col-md-12">
      <p class="lead">Web Design Thank Yous</p>
    <ul>
      <li><a href = https://getbootstrap.com/> Bootstrap </a> (Styling and layout)</li>
      
    </ul>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p> Unless otherwise noted, all 3rd party assets are the property of their respective creators and are used with implied permission. Please contact us with any requests for removal. </p>
      </div>
    </div>
  </div>
